.table{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
}

.listendirectory{
    width: 100%;
}

.listBox{
    vertical-align: top;
}

.heading{
    text-align: center;
}

.listItem{
    text-align: right;
}